.custom-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-image: url('../../assets/Images/fondo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.custom-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    width: 90%;
}

.hero-content .display-4 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
}

.hero-content .lead {
    color: #fff;
    margin-bottom: 1.5rem;
}

.custom-hero-btn {
    background-color: #9a47a0 !important;
    border: none !important;
    color: #fff !important;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.custom-hero-btn:hover {
    background-color: #5b2760 !important;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
